EMAIL_TO=eduardo@empresa.com

SMTP_HOST=smtp.empresa.com
SMTP_PORT=587
SMTP_USERNAME=usuario@empresa.com
SMTP_PASSWORD=tu_password
SMTP_FROM=usuario@empresa.com
SMTP_STARTTLS=1

MESSAGE_TEXT=Hola Eduardo, recuerda pasarme los contratos de monitoreo wise.
SUBJECT=Recordatorio: contratos de monitoreo wise
MESSAGE_TIMES=09:00,13:00,17:00
TIMEZONE=America/Mexico_City

# DRY_RUN=1
